*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
TodoServer/README.md
TodoServer/__pycache__

# Custom rules for this project
/.agent/
/input_images/
/app/build/
